<br />
<br />
<div class="container marginTop1">
    <br />
    <img src="~/img/faleconosco1.jpg" alt="Fale Conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco</p>
        <p>
            <span class="float-left mr-2">
                <img src="~/img/Envelope-icon24.png" />
            </span>
            <h5><email-tag-helpers address="nilson.mello@live.com" content="Enviar um e-mail"></email-tag-helpers></h5>
            <br />
            <span class="float-left mr-2">
                <img src="~/img/phone-app-icon.png" />
            </span>
            <h5>(85) 9 XXXX XXXX</h5>
            <br />
            <span class="float-left mr-2">
                <img src="~/img/Home-iconred.png" />
            </span>
            <h5>Centro, Caucaia, CE</h5>
        </p>
    </div>

</div>
