@{
    ViewData["Title"] = "Home Page";
}

<h2>Os preferidos da semana</h2>

<div class="row">
	@foreach (var lunch in Model.LunchesPreferred)
	{
		<partial name="_LunchesResume" for="@lunch" />
	}
</div>
